@import '../../styles/variables';

.mainWrapper {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $color_Black-Velvet;  
}

.mainLogo {
  height: 37px;
}

.list {
  padding: 0;
  margin: 0 18px;
  display: flex;
  align-items: center;
  column-gap: 102px;
  list-style: none;
}
