@import '../../styles/variables';

.card {
  padding: 80px 64px 0 80px;
  display: flex;
  column-gap: 144px;
  border-radius: 20px;

  // height: 100%;
  // min-width: 992px;
  // max-width: 992px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  padding-top: calc(94px - 80px);
  width: 384px;
}