@import '../../styles/variables';

.p {
  display: inline-block;
  margin: 0;

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color_Black;
}

.large {
  font-size: 18px;
  line-height: 32px;
  color: $color_Bleached-Cedar;
  opacity: 0.9;
}

.normal {
  line-height: 32px;
}

.normalOps {
  color: $color_Bleached-Cedar;
  opacity: 0.9;
}

.extraSmall {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color_Bleached-Cedar;
}

.small {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: $color_Carbon;
}
