@import '../../styles/variables';

.news {
  margin-bottom: 192px;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;

  & > div {
    &:nth-child(2) {
      & > picture {
        cursor: pointer;
      }
    }
  }
}
