@import '../../styles/variables';

.carouselPictures {
  margin-bottom: 96px;
}

.mainWrapper {
  position: relative;
  background-color: $color_Prairie-Sunset;
  height: 550px;
}

.slider {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  & button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(0.7);
    padding: 10px 20px;
    width: 0;
    height: max-content;

    &:nth-child(1) {
      top: 330px;
      left: calc(50% - 100px);

      &::before {
        content: url(../../public/arrow-left.svg);
      }
    }

    &:nth-last-child(1) {
      top: 50px;
      left: calc(50% + 40px);

      &::before {
        content: url(../../public/arrow-right.svg);
      }
    }
  }
}

.cardWrapper {
  position: relative;
  width: 150px;
  height: 210px;
}

.image {
  position: relative;
  top: 0;
  width: inherit;
  height: inherit;
  

  & img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

.scale {
  transform: scale(1.2);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.9;
}

.pictureCounter {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 22px;
  color: $color_Black;

  & span {
    opacity: 0.2;
  }
}