@import '../../styles/variables';

.a {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $color_Black__opacity08;
  text-decoration: none;
}

.normal {
  transition:
    text-shadow $transition-time,
    color $transition-time;

  &:hover {
    text-shadow:0px 0px 1px $color_Black;
    color: $color_Black;
  }
}

.extraSmall {
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: $color_Cloudburst;

  &500 {
    @extend .extraSmall;
    font-weight: 500;
    text-decoration-line: none;
  }
}