$fontFamily: 'Poppins', sans-serif;

$color_White: #FFFFFF;
$color_Black: #000000;
$color_Black__opacity08: rgba(0, 0, 0, 0.8);

$color_Bleached-Cedar: #1E1A20;
$color_Black-Velvet: #222433;
$color_Carbon: #333333;
$color_Cloudburst: #807C7C;
$color_Lavender-Pearl: #F7F3F4;
$color_Melon-Baby: #F2726C;
$color_Melon-Baby_hover: #ec443c;

$color_Prairie-Sunset: #FFBD9E;
$color_Fond-de-Teint: #FFADAD;
$color_Lavender-Blue: #CBCBFF;

$transition-time: 0.3s;